<html>
	<body>
		{% include 'superior/barra.html' %}
		<h1>
		Hola alumnos estamos viendo nuestra plantilla
		</h1>
		<h2>

			{#NO TEMAS DISEÑADOR, IGNORA ESTA PARTE #}
			
			{% if nombre_persona == 'Profesor Juan ' %}

			<p>El curso lo imparte el profesor titular</p>
			{% else %}

			<p>El curso lo imparte el profesor suplente</p>
			{% endif %}


		</h2>
		<p>El nombre del profesor es: {{nombre_persona}}{{apellido_persona}}</p>
		<p>Estamos viendo el tema de las plantillas a dia: {{momento_actual.day}}/{{momento_actual.month}}/{{momento_actual.year}}</p>
		<p><strong>Temas del curso:</strong></p>
		<ul>
		{% if temas %}
			{% for elTema in temas %}
					<li>{{elTema}}</li>



			{%endfor %}
		{% else %}
			<p>No hay elementos que mostrar</p>
		{%endif %}
		</ul>

		
		
	</body>
</html>